{% extends "base/base.html" %}

{% block title %}NEW SUBGRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-success form-control">New SubGrantGoal</button>
            <a href="{% url 'core:list_sgg' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}